<!DOCTYPE html>
<html>
    <head>
        <title>GPAポケモンAPI</title>
    </head>
    <body>
    <h1>GPAポケモンAPI サンプル</h1>
    <p>あなたのGPAを100倍した値を入力してください</p>
    <span>https://poke-gpa-api.vercel.app/api/</span><input value=25 type="text" id="id" style="width:50px;">
    <br>
    <p>例：GPAが0.25の場合、https://poke-gpa-api.vercel.app/api/25</p>
    <button id="send-button">GETリクエストを送信</button><br>
    <br>
    <div>
        <p>レスポンス</p>
        <textarea id="view-area" rows="10" cols="80">
        </textarea>
        <div id="result-view">
        </div>
        
    </div>
    </body>

    <script>
        var sendButton = document.getElementById("send-button");
        sendButton.addEventListener('click', () => {
            id = document.getElementById("id").value;
            var url = "https://poke-gpa-api.vercel.app/api/" + id;
            fetch(url)
            .then(response => response.json())
            .then(data => {
                var viewArea = document.getElementById("view-area");
                json_data = JSON.stringify(data, null, "\t");
                viewArea.value = json_data;
                //console.log(json_data);

                //生成
                var  resultView = document.getElementById("result-view");
                resultView.innerHTML = "";
                if(data["name_ja"]){
                    var h2_title = document.createElement("h2");
                    var text = "あなたのGPAポケモンは" + data["name_ja"] + "です";
                    h2_title.innerHTML = text;
                    var image = document.createElement("img");
                    image.src = data["image_url"];
                    resultView.appendChild(h2_title);
                    resultView.appendChild(image);
                    // var tweetButton = document.createElement("a");
                    // var this_url = "https://poke-gpa-api.vercel.app/";
                    // tweetButton.href = "http://twitter.com/share?text=" + text + "¥n" + this_url + "&url=https://zukan.pokemon.co.jp/detail/" + id;
                    // tweetButton.onclick = "window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;";
                    // resultView.appendChild(tweetButton);
                }
            });
        });
    </script>
</html>